<div class="container">
  <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
      <thead>
      <%= link_to new_company_path ,class: "btn btn-primary btn-xs pull-right" do%>
        <b>+</b> Add new categories
       <%end%>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Sector</th>
        <th>Price</th>
        <% if can?(:update, @companies)  || can?(:destroy, @companies ) %>
          <th class="text-center">Action</th>
        <%end%>
      </tr>
      </thead>
      <% @companies.each do |company| %>
      <tr>
        <td><%= company.symbol %></td>
        <td><%= link_to company.name, company %></td>
        <td><%= company.sector %></td>
        <td><%= company.price %></td>
        <% if can?(:update, @companies)  || can?(:destroy, @companies ) %>
          <td class="text-center">
            <% if can? :update, company %>
              <%= link_to  edit_company_path(company) ,class: "btn btn-danger btn-xs" do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit
               <%end%>
            <%end%>
            <% if can? :destroy, company %>
              <%= link_to   company, method: :delete, data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-xs" do %>
                <span class="glyphicon glyphicon-remove"></span> Del
              <%end%>
            <%end%>


          </td>
        <%end%>
      </tr>
      <%end%>

    </table>
    <div class="pull-right">

      <%= will_paginate @companies %>
    </div>
  </div>

</div>
