<div class="pull-right">

  <% if can? :update, @company %>
      <%= link_to  edit_company_path(@company) ,class: "btn btn-danger btn-xs" do %>
          <span class="glyphicon glyphicon-edit"></span> Edit
      <%end%>
  <%end%>
  <% if can? :destroy, @company %>
      <%= link_to   @company, method: :delete, data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-xs" do %>
          <span class="glyphicon glyphicon-remove"></span> Del
      <%end%>
  <%end%>

</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-md-8">
      <h2 class="display-3"><%= @company.name %>(volume: <%= @get_yahoo_data.volume%>)</h2>
      <b>Symbol: </b><%= @company.symbol %>,
      <b>Sector: </b><%= @company.sector %>,
      <b>Price Sales: </b><%= @company.priceSales %>
      </br>
      <b>Year high: </b><%= @get_yahoo_data.year_high %>,
      <b>Day high: </b><%= @get_yahoo_data.days_high %>,
    </br>
      <b>Year low: </b><%= @get_yahoo_data.year_low %>,
      <b>Day low: </b><%= @get_yahoo_data.days_low %>,
    </br>
      <b>Dividend Pay Date: </b><%= l @get_yahoo_data.dividend_pay_date.to_date rescue Date.today %>
      </br>
      <b>Last Trade Date: </b><%= l @get_yahoo_data.last_trade_date.to_date rescue Date.today %>
    </div>
    <div class="col-md-4">
      <img src="https://chart.finance.yahoo.com/z?s=<%= @company.symbol%>" class="img-thumbnail">

    </div>
  </div>

</div>


<h2>Reports:</h2>

<div class="container">
  <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
      <thead>
      <%= link_to new_report_path(company_id: @company) ,class: "btn btn-primary btn-xs pull-right" do%>
          <b>+</b> Report
      <%end%>
      <tr>
        <th>Title</th>
        <th>Analyst Name</th>
        <th>Created at</th>
        <th>Recommendation</th>
        <% if !(current_user.role? :investor) %>
            <th class="text-center">Action</th>
        <%end%>
      </tr>
      </thead>
      <% @reports.each do |report| %>
          <tr>
            <td><%= link_to truncate(report.title ,:length => 50),report%></td>
            <td><%=  report.user.email%></td>
            <td><%=l report.created_at.to_date %></td>
            <td><%=report.recommandation%></td>
            <% if !(current_user.role? :investor) %>
                <td class="text-center">
                  <% if can? :update, report %>
                      <%= link_to  edit_report_path(report) ,class: "btn btn-danger btn-xs" do %>
                          <span class="glyphicon glyphicon-edit"></span> Edit
                      <%end%>
                  <%end%>
                  <% if can? :destroy, report %>
                      <%= link_to   report, method: :delete, data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-xs" do %>
                          <span class="glyphicon glyphicon-remove"></span> Del
                      <%end%>
                  <%end%>


                </td>
            <%end%>
          </tr>
      <%end%>

    </table>

  </div>

</div>




